<% include ../partials/header %>


<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome!</h1>
            <p>Your next venture into the wilderness awaits</p>
            <a class="btn btn-primary btn-lg" href="/campgrounds/new">Add a new location!</a>
        </div>
    </header>

    <div class="row" style="display:flex; flex-wrap: wrap">
        <% campgrounds.forEach((cg) => { %>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
                <img src="<%= cg.image %>" alt="">
                <div class="caption">
                    <h4>
                        <%= cg.name %>
                    </h4>
                </div>
                <p>
                    <a href="/campgrounds/<%= cg._id %>" class="btn btn-primary">More info</a>
                </p>
            </div>
        </div>
        <% }); %>
    </div>
</div>

</div>
<% include ../partials/footer %>